@page "/one-direction-component-bind"
@using BlazorTraining.Model

<div>
    <span>Id: </span>
    <span>@student.Id</span>
</div>
<div>
    <span>Name: </span>
    <input type="text" value="@student.Name" />
</div>
<div>
    <span>Last name: </span>
    <input type="text" value="@student.LastName" />
</div>
<div>
    <span>Age: </span>
    <input type="number" value="@student.Age" />
</div>
<div>
    <span>Is active?: </span>
    <input type="checkbox" checked="@(@student.IsActive ? "checked":null)" />
</div>

<div>
    @if(student.IsActive)
    {
        <span>Active account</span>
    }
    else
    {
        <span>Inactive account</span>
    }
</div>

@code {
    Student student = new Student(1, "Jan", "Kowalski", 23, true);
}
