@page "/template-component"
@using BlazorTraining.Model

<TemplateComponent Title="Students list" Items=students>
    <HeaderTemplate>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Is active?</th>
    </HeaderTemplate>
    <RowTemplate>
        <td>@context.Name</td>
        <td>@context.LastName</td>
        <td>@context.Age</td>
        <td><input type="checkbox" disabled  checked="@(context.IsActive ? "checked":null)"/></td>
    </RowTemplate>
</TemplateComponent>

<TemplateComponent Title="Companies list" Items=companies Context=c>
    <HeaderTemplate>
        <th>Company name</th>
        <th>Street</th>
        <th>City</th>
        <th>Country</th>
    </HeaderTemplate>
    <RowTemplate>
        <td>@c.CompanyName</td>
        <td>@c.CompanyAddress.Street</td>
        <td>@c.CompanyAddress.City</td>
        <td>@c.CompanyAddress.Country</td>
    </RowTemplate>
</TemplateComponent>

@code {
    List<Student> students = new List<Student>
    {
        new Student(1, "Jan", "Kowalski", 23, true),
        new Student(2, "Anna", "Nowak", 22, false)
    };

    List<Company> companies = new List<Company>
    {
        new Company(1, "Company1", new CompanyAddress("Prosta","Warszawa","Polska")),
        new Company(2, "Company2", new CompanyAddress("Krzywa","Kraków", "Polska"))
    };
}
