@using BlazorTraining.Model
<div>
    <span>Id: </span>
    <span>@Student.Id</span>
</div>
<div>
    <span>Name: </span>
    <input type="text" value="@Student.Name" />
    <span>@Student.Name</span>
</div>
<div>
    <span>Last name: </span>
    <input type="text" @bind-value="@Student.LastName" @bind-value:event="oninput" />
    <span>@Student.LastName</span>
</div>
<div>
    <span>Age: </span>
    <input type="number" @bind-value="@Student.Age" />
    <span>@Student.Age</span>
</div>
<div>
    <span>Is active?: </span>
    <input type="checkbox" @onchange=ChangeValue checked="@(@Student.IsActive ? "checked":null)" />
    <span>@Student.IsActive</span>
</div>

<div>
    @if(Student.IsActive)
    {
        <span>Active account</span>
    }
    else
    {
        <span>Inactive account</span>
    }
</div>

@code {
    [Parameter]
    public Student Student { get; set; }

    [Parameter]
    public EventCallback<bool> OnActiveStatusChanged { get; set; }

    private async Task ChangeValue(ChangeEventArgs args)
    {
        await OnActiveStatusChanged.InvokeAsync((bool)args.Value);
    }

}
