@using BlazorTraining.Model
<div>
    <span>Id: </span>
    <span>@Id</span>
</div>
<div>
    <span>Name: </span>
    <input type="text" value="@Name" />
    <span>@Name</span>
</div>
<div>
    <span>Last name: </span>
    <input type="text" @bind-value="@LastName" @bind-value:event="oninput" />
    <span>@LastName</span>
</div>
<div>
    <span>Age: </span>
    <input type="number" @bind-value="@Age" />
    <span>@Age</span>
</div>
<div>
    <span>Is active?: </span>
    <input type="checkbox" @bind-value="@IsActive" checked="@(@IsActive ? "checked":null)" />
    <span>@IsActive</span>
</div>

<div>
    @if(IsActive)
    {
        <span>Active account</span>
    }
    else
    {
        <span>Inactive account</span>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string LastName { get; set; }

    [Parameter]
    public int Age { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

}
